
<h1>New restaurant</h1>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.select :category, ["italian", "japanese", "chinese", "french", "belgian"] %>
  <%= f.submit "Submit restaurant", class: "btn btn-primary" %>
<% end %>


<p><%= link_to "Retour au menu", restaurants_path %></p>
